<!DOCTYPE html>
<html>
<head>
	<title>Seleccion Pareja</title>
</head>
<body>
	<form action="/validar" method="post">
		<table align="center" border="1" >
			<tr align="center">
				<th>Imagen</th>
				<th>Valor</th>
			</tr>
			<tr align="center">
				<td><input type="submit" name="Imagen 1" id="Imagen 1" value="Imagen 1"></td>
				<td>
					<input type="hidden" id="1" name="1" value="<%= @valores[0]%>" size="2">
					<%= @valores[0]%>
				</td>
			</tr>
			<tr align="center">
				<td><input type="submit" name="Imagen 2" value="Imagen 2"></td>
				<td>
					<input type="hidden" id="2"  name="2" value="<%= @valores[1]%>" size="2">
					<%= @valores[1]%>
				</td>
			</tr>
			<tr align="center">
				<td><input type="submit" name="Imagen 3" value="Imagen 3"></td>
				<td>
					<input type="hidden" id="3"  name="3" value="<%= @valores[2]%>" size="2">
					<%= @valores[2]%>
				</td>
			</tr>
			<tr align="center">
				<td><input type="submit" name="Imagen 4" value="Imagen 4"></td>
				<td>
					<input type="hidden" id="4"  name="4" value="<%= @valores[3]%>" size="2">
					<%= @valores[3]%>
				</td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input type="submit" name="Validar" value="Validar">
				</td>
			</tr>
		</table>

		<%= @valores%>
		<br>
		<%= @datos%>

	</form>
</body>
</html>